body {
  background-color: black;
}

#name {
  font-size: 50pt !important;
  margin: 44.6667px 0px 0px !important;
}

p {
  width: 155mm;
}

.container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: whitesmoke;
  text-align: left;
  font-family: helvetica, sans-serif;
}

.photo {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 15mm;
  right: 80mm;
}

.overlay{
  position: absolute;
  top: 15mm;
  right: 80mm;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
  
:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 100px;
  left: 60px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#degree {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1.17em;
}

#title-date {
  font-style: italic;
}

.line {
  position: absolute;
  height: 1px;
  left: 85mm;
  width: 218.5mm;
  background-color: black;
}

#line1 {
  top: 41mm;
  width: 166mm;
}

#line2 {
  top: 81mm;
}

h1 {
  font-weight: 400;
}
