.container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: #C4CECD;
  text-align: left;
}

.photo {
  height: 200px;
  width: 200px;
  float: right;
}

#title-date {
  font-style: italic;
}

.line {
  position: absolute;
  height: 1px;
  width: 202mm;
  left: 85mm;
  background-color: (0,0,0);
}

#line1 {
  top: 26mm;
}

#line2 {
  top: 80mm;
}

