body {
  background-color: black;
}

#name {
  font-size: 50px;
}

.container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: whitesmoke;
  text-align: left;
  font-family: helvetica, sans-serif;
}

.photo {
  height: 200px;
  width: 200px;
  float: right;
}

#title-date {
  font-style: italic;
}

.line {
  position: absolute;
  height: 1px;
  width: 202mm;
  left: 85mm;
  background-color: black;
}

#line1 {
  top: 34mm;
  width: 150mm;
}

#line2 {
  top: 85mm;
}

